/* Style sheet for first homework*/

body {
    font-family: Helvetica;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

.header {
    width: 83.33%;
    background: #ebebeb;
    padding: 30px;
    text-align: center;
    position: relative;
    left: 95px;
    margin: 10px 30px 10px 30px;
}

.nav {
    width: 83.33%;
    background: #ebebeb;
    padding: 30px;
    text-align: center;
    position: relative;
    left: 95px;
    margin: 0px 30px 20px 30px;
}

.aside {
    float: right;
    width: 31.25%;
    background: #ebebeb;
    height: 280px;
    text-align: center;
    padding: 30px 30px 50px 15px;
    position: relative;
    left: 25px;    
    margin-left: 15px;
}

.section {
    float: right;
    width: 51.56%;
    background:#ebebeb;
    position: relative;
    left: 21px;
    text-align: center;
    height: 280px;
    padding: 30px 0px 50px 0px;
    margin-bottom: 20px;
}

.article {
    color: #ebebeb;
    background: #777;
    width: 479px;
    position: relative;
    top: 50px;
    right: 8px;
    padding-bottom: 60px;
    padding-top: 20px;
    z-index: 1;
    float: right;
}

.hs {
    background: #ebebeb;
    width: 440px;
    position: relative;
    left: 18px;
    top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #777;
 
}
#h1 {
    position: relative;
    z-index: 3;
    display: inline;
}

#h2 {
    display: inline;
}

#h3 {
    display: inline;
}

.p {
    color: #777;
    position: relative;
    top: 40px;
    left: 18px;
    width: 440px;
    background: #ebebeb;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    width: 83.33%;
    background:#ebebeb;
    clear: both;
    position: relative;
    left: 125px;
    text-align: center;
    padding: 30px;

}